#body {
    display: grid;
    gap: 13px;
    grid-template-areas: 
        'he he he'
        'le co ad';
    grid-template-columns: 200px auto 23%;
}

.item {
    background-color: lightblue;
}

#heading {
    grid-area: he;
}

#left {
    grid-area: le;
}

#content {
    grid-area: co;
}

#advertisements {
    grid-area: ad;
}

.advertisement-image {
    width: 100%;
}

.heading {
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ind {
	text-indent: 25px;
	margin: 0;
}