.item {
	margin: 5px;
}

#heading {
	grid-area: he;
	background-color: #ff3945;
	margin: 0;
	border-bottom: 1px solid black;
}

#left {
    grid-area: le;
}

#content {
    grid-area: co;
}

#advertisements {
    grid-area: ad;
}

.advertisement-image {
    width: 100%;
}

.heading {
    margin: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ind {
	text-indent: 30px;
	margin: 0;
}

img {
	margin: 3px;
}

.invisible {
	margin: 0;
}

.related {
	margin: 3px;
	color: #000035;
	text-decoration-line: none;
}

.related:hover {
	text-decoration-line: underline;
}